<!doctype html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
  <div class="wrapper">
  <header class="main-header">
    <h1><a href="/">langRPG</a></h1>
  </header>
  <main>
  {% block main %}
  {% endblock %}
  </main>
  <footer class="main-footer">
    <p>Crafted with love by <a href="http://www.belenalbeza.com">ladybenko</a>.<br>
    Source code <a href="https://www.github.com/belen-albeza/langrpg">available on Github</a>.</p>
  </footer>
  </div><!-- wrapper -->
</body>
</html>
